<div> 
  <br><br><br>
  <div class="mdl-grid">
    <div class="mdl-cell" style="margin:auto">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:450px; padding-top: 30px">
        <div class="mdl-card__title" style="height:auto">
          <h1 class="mdl-card__title-text" style="color:black">How do I know that fuel price data is accurate and up to date?</h1>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            The price information supplied from government records, and updated twice daily.
          </p>
        </div>
      </div>

      <br></br>

      <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:450px; padding-top: 30px">
        <div class="mdl-card__title" style="height:auto">
          <h1 class="mdl-card__title-text" style="color:black">How is the Price Trends data calculated?</h1>
        </div>
        <div class="mdl-card__supporting-text">
        <p>
            By looking at months' worth of past fuel prices, our machine learning algorithms have been able to determine with 94% accuracy how prices are going to change in the near future.
          </p>
        </div>
      </div>

      <br></br>

      <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:450px; padding-top: 30px">
        <div class="mdl-card__title" style="height:auto">
          <h1 class="mdl-card__title-text" style="color:black">The search returned no results, what should I do?</h1>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            It's possible that you've entered a location outside of our range. Enter a different address and try again.
          </p>
        </div>
      </div>

      <br></br>

      <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:450px; padding-top: 30px">
        <div class="mdl-card__title" style="height:auto">
          <h1 class="mdl-card__title-text" style="color:black">Is there a mobile app for this?</h1>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            Not at the moment, but possibly in the future. For now the mobile website should be able to give you everything you need.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> 
