 
<div class="localsearch-main" >
    <br/>
    <div class="pricetrend-main-card mdl-card mdl-shadow--2dp" style="height: 100px;background-color:#203240; color:white; margin-top:60px; padding-top:50px; text-align:center;">
        <h3>Please find price trends in the chart below</h3>
      <p>
        The historical prices for the last 25 days are displayed in green
      </p>
      <p>
         The predicted prices for the next 3 days displayed in blue.
      </p> 
    </div>
    <div class="pricetrend-main-card mdl-card mdl-shadow--2dp" style="background-color:#203240;">
        <div style="width: 600px; margin:auto; padding-bottom:40px;">
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
            chart-series="series" chart-colors="colors" chart-click="onClick" chart-options="options"></canvas> 
        </div>
    </div>
    <br/>
      
      <div class="pricetrend-main-card mdl-card mdl-shadow--2dp" style="padding: 50px;">
        <div class="mdl-card__title" style="height:auto">
          <h1 class="mdl-card__title-text" style="color:black">Summary of fuel price information</h1>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            Prices appear to be around the highest point of the cycle. It is advised to wait a few days as prices are likely to go down further. [updated on Friday]
          </p>
        </div>
      </div> 
    <br/>
</div>     
         
